html {
  width: 100%;
  height: 100%;  
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
  margin-top: 100px !important;
  font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
  background: black;
}
button {
  padding: 7px;
  margin: 0px 18px;
}
/* Top Info */
.instructions {
  width: 100%;
  text-align: center;
  margin-top: 1%;
}
.title {
  font-size: 2.5em;
  opacity: 0.9;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}
.description {
  font-size: 1.5em;
  opacity: 0.9;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

/* Waveform */
#waveform {
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.fixed-toolbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  padding: 5px 20px;
  display: flex;
    align-items: center;
    background: #004618;
    z-index: 2;
}
/* Sprites */
.sprites {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 20px 132px;
}
.selected.selected {
  background-color: red;;
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 0;
}
.sprite {
  top: 0;
  background-color: rgb(0 70 24);
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: white;
  height: 35px;
  margin: 5px 5px;
  display: flex;
  align-items: center;
  flex: 0 0 calc(50% - 50px);
}

input[type="checkbox"] {
  width: 30px;
  height: 25px;
}
.sprite:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#sprite0 {
  left: 0;
}
#sprite1 {
  left: 0;
}
#sprite2 {
  left: 0;
}
#sprite3 {
  left: 0;
}
#sprite4 {
  left: 0;
}
#sprite5 {
  left: 0;
}
.sprite-label {
  font-size: 1.5em;
  opacity: 0.8;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  /* position: absolute; */
  bottom: -33px;
  left: 0;
  white-space: nowrap;
  width: 92%;
}

@media only screen 
  and (min-device-width: 380px) 
  and (max-device-width: 844px) 
  and (-webkit-min-device-pixel-ratio: 3) {
  html body {
    background-color: aliceblue;
  }
  body {
    font-size: 75%;
  }
  body .sprite {
    flex: 0 0 calc(100% - 50px);
    font-size: 30px;
    padding: 25px 5px;
    height: auto;
    border-radius: 15px;
    background-color: #c6ced7;
    color: black;
  }
  body .sprite-label {
      white-space: break-spaces;
      margin-left: 50px;
  }
  body input[type="checkbox"] {
    height: 50px;
    width: 50px;
  }
  body .selected.selected {
    background-color: #c8a5b8;
  }

}

.playing-sprite {
  background-color: #246eaa;
  color: black;
}

#sprite84,
#sprite77,
#what-do-you-mean
{
  background-color: red;
}

.sprite label {
  width: 40px;
}
#time-is-money--זמן-הוא-כסף {
  background-color: red;
}